<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
    <system>
        <tab id="siteation" sortOrder="999" translate="label">
            <label>Siteation</label>
        </tab>

        <section id="siteation_storeinfo_menus" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10"
            translate="label">
            <label>Store Menus</label>
            <tab>siteation</tab>
            <resource>Magento_Backend::store</resource>

            <group id="about" translate="label" sortOrder="41" showInDefault="1" showInWebsite="1"
                showInStore="1">
                <label>About</label>
                <field id="menu" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                    showInStore="1" canRestore="1">
                    <label>Menu</label>
                    <frontend_model>Siteation\StoreInfoMenus\Block\Adminhtml\Form\Field\Menu</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>

            <group id="services" translate="label" sortOrder="41" showInDefault="1" showInWebsite="1"
                showInStore="1">
                <label>Services</label>
                <field id="menu" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                    showInStore="1" canRestore="1">
                    <label>Menu</label>
                    <frontend_model>Siteation\StoreInfoMenus\Block\Adminhtml\Form\Field\Menu</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>

            <group id="legal" translate="label" sortOrder="41" showInDefault="1" showInWebsite="1"
                showInStore="1">
                <label>Legal</label>
                <field id="menu" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                    showInStore="1" canRestore="1">
                    <label>Menu</label>
                    <frontend_model>Siteation\StoreInfoMenus\Block\Adminhtml\Form\Field\Menu</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>

            <group id="custom_1" translate="label" sortOrder="41" showInDefault="1" showInWebsite="1"
                showInStore="1">
                <label>Custom 1</label>
                <field id="menu" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                    showInStore="1" canRestore="1">
                    <label>Menu</label>
                    <frontend_model>Siteation\StoreInfoMenus\Block\Adminhtml\Form\Field\Menu</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>

            <group id="custom_2" translate="label" sortOrder="41" showInDefault="1" showInWebsite="1"
                showInStore="1">
                <label>Custom 2</label>
                <field id="menu" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                    showInStore="1" canRestore="1">
                    <label>Menu</label>
                    <frontend_model>Siteation\StoreInfoMenus\Block\Adminhtml\Form\Field\Menu</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
